#results {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    
	background: url('images/beerhall.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
  	background-color:#333;
}

#welcome_text{
    text-shadow: 0 0 3px #000;
}

.jumbotron {
   background: rgb(3, 3, 3); /* This is for ie8 and below */
   background: rgba(3, 3, 3, 0.5);
   padding-top: 100px;
}

.sidebar {
    padding-top: 45px;
}


